body {
    margin: 0;
    background-color: #43B789;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    text-align: center;
    width: 250px;
}

h2 {
    margin: 0 0 10px;
    font-size: 24px;
    text-align: left;
    text-transform: uppercase;
}

p {
    margin: 0 0 20px;
    color: #a0a0a0;
    text-align: left;
    font-size: 16px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    overflow: hidden;
    background-color: #bdb7b7;
    
}

.input-group label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    background-color: white;
}

.input-group label img {
    width: 30px;
    height: 30px;
}

.box {
    background-color: #bdb7b7;
}

.input-group input {
    flex: 1;
    padding: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.input-content {
    position: relative;
    margin-bottom: 3px;
    font-size: 10px;
    text-transform: uppercase;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #43B789;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

button:hover {
    background-color: #3a9d70;
}

a {
    display: inline;
    margin-top: 20px;
    color: #777;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.register {
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
}